/* 변수 선언 */
:root {
  --bg-color: black;
  --font-color: white;
}

.app {
  /* 변수 사용 */
  background: var(--bg-color);
  color: var(--font-color);

  padding: 1rem;

  /* nesting rules */
  &:hover {
    opacity: 0.8;
  }

  & .circle {
    --size: 32px;
    background: green;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
  }
}

:fullscreen {
}

.contents-wrapper {
  display: flex;
  flex-direction: row;
}
